# Ignore all files in the node_modules directory\
node_modules
/node_modules/*

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore environment variables file
.env
backend/zappa_settings.json

# Ignore debug output
debug

# Ignore cache files
**/__pycache__/
.DS_Store

# Ignore virtual environments
*/venv
*/handler_venv

# Ignore lib directory in backend
backend/lib/

# Ignore python version
.python-version